<!--
// Project Name: PosturePro
// File Name: procedure.html
// Date: 24 May 2025
// Group: Sensor-4 

// Description: This page serves as a procedure page for the PosturePro project, showcasing sample data and visualizations.
-->
{% extends "layout.html" %}

{% block extra_css %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/procedure.css') }}">
{% endblock %}

{% block content %}
<section class="bg-gray-100 dark:bg-gray-200 py-0 mt-0">
  <div class="container mx-auto px-4 pt-2">
    <div class="text-center mb-6">
      <h1 class="text-4xl font-bold text-gray-900 mb-2">Procedure</h1>
      <p class="text-xl text-gray-700">Learn how to use PosturePro correctly</p>
    </div>
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8" style = "--animate-delay: 0.5s;">
      <!-- Card 1 -->
      <div class="card animate__animated animate__fadeInDown animate__delay-1s">
        <img src="{{url_for('static', filename='/img/sensor-photos/sensor-position.jpeg')}}" alt="Procedure Step 1">
        <div class="card-content">
          <h2>Step 1: Setup</h2>
          <p>
            Position the sensor correctly on the lower back area targeting the multifidus muscles. Ensure proper adhesion to skin.
          </p>
          <a data-modal-target="setup-modal" data-modal-toggle="setup-modal" class="button" type="button">
            Learn More
            <span class="material-symbols-outlined">arrow_right_alt</span>
          </a>
        </div>
      </div>
      
      <!-- Card 2 -->
      <div class="card animate__animated animate__fadeInDown animate__delay-2s">
        <img src="{{url_for('static', filename='/img/sensor-photos/calibration.jpeg')}}" alt="Procedure Step 2">
        <div class="card-content">
          <h2>Step 2: Calibration</h2>
          <p>
            Stand  in neutral position for calibration. Wait for the sensor to fully connect before proceeding. Steady blue light indicates a connection.
          </p>
          <a data-modal-target="calibration-modal" data-modal-toggle="calibration-modal" class="button" type="button">
            Learn More
            <span class="material-symbols-outlined">arrow_right_alt</span>
          </a>
        </div>
      </div>
      
      <!-- Card 3 -->
      <div class="card animate__animated animate__fadeInDown animate__delay-3s">
        <img src="{{url_for('static', filename='/img/sensor-photos/wearing-sensor.jpeg')}}" alt="Procedure Step 3">
        <div class="card-content">
          <h2>Step 3: Monitoring</h2>
          <p>
            Wear the device throughout your day. The app will provide feedback on your posture and suggest corrections if needed.
          </p>
          <a data-modal-target="monitoring-modal" data-modal-toggle="monitoring-modal" class="button" type="button">
            Learn More
            <span class="material-symbols-outlined">arrow_right_alt</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Setup Modal -->
<div id="setup-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Step 1: Sensor Setup Guide
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="setup-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <div class="p-4 md:p-5 space-y-4">
                <img src="{{ url_for('static', filename='img/procedure.gif') }}" alt="Setup procedure gif" class="w-full h-auto rounded-lg">
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    <strong>Important steps:</strong>
                </p>
                <ol class="text-base leading-relaxed text-gray-500 dark:text-gray-400 list-decimal pl-5 space-y-1">
                    <li>Ensure surface electrodes are properly attached in reference to the multifidus muscle. </li>
                    <li>Put on back brace comfortably</li>
                    <li>Place a circuit box on both sides of the back brace using the built-in clip system</li>
                    <li>Make sure the each sensor complex is plugged in and connected to the surface elctrodes</li>
                </ol>
            </div>
            <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button data-modal-hide="setup-modal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Got it!</button>
            </div>
        </div>
    </div>
</div>

<!-- Calibration Modal -->
<div id="calibration-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Step 2: Calibration Process
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="calibration-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <div class="p-4 md:p-5 space-y-4">
                <img src="{{ url_for('static', filename='img/calibration.gif') }}" alt="Calibration procedure gif" class="w-full h-auto rounded-lg">
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    <strong>Calibration steps:</strong>
                </p>
                <ol class="text-base leading-relaxed text-gray-500 dark:text-gray-400 list-decimal pl-5 space-y-1">
                    <li>Connect ESP-32 and turn on both MyoWare EMG Sensors</li>
                    <li>Ensure the ESP-32 is uploading code</li>
                    <li>Stand in a neutral position for around 30 seconds while ESP connects to MyoWare sensors and runs setup code</li>
                    <li>Wait for the blue light to turn on, indicating a successful connection</li>
                    <li>Ensure that the ESP-32 is sending data</li>
                </ol>
            </div>
            <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button data-modal-hide="calibration-modal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Got it!</button>
            </div>
        </div>
    </div>
</div>

<!-- Monitoring Modal -->
<div id="monitoring-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Step 3: Monitoring
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="monitoring-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <div class="p-4 md:p-5 space-y-4">
                <img src="{{ url_for('static', filename='img/monitoring.gif') }}" alt="Monitoring procedure gif" class="w-full h-auto rounded-lg">
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    <strong>Monitoring:</strong>
                </p>
                <ol class="text-base leading-relaxed text-gray-500 dark:text-gray-400 list-decimal pl-5 space-y-1">
                    <li>Ensure that you have an account and you are logged in</li>
                    <li>Use the sensor during everyday activities</li>
                    <li>Monitor your posture and muscle activity through the web portal</li>
                </ol>
            </div>
            <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button data-modal-hide="monitoring-modal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Got it!</button>
            </div>
        </div>
    </div>
</div>
<!-- FAQ Section -->
    <div class="container">
      <h2 class="faqTitle">Frequently Asked Questions</h2>
      <div class="faq-accordion">
        <div class="faq-accordion-item">
          <button id="faq-accordion-button-1" aria-expanded="false">
            <span class="faq-accordion-title">Q1: What is the goal of PosturePro?</span>
            <span class="icon" aria-hidden="true"></span>
          </button>
          <div class="faq-accordion-content">
            <p>
              The goal of PosturePro is to monitor the health and activity of the multifidus muscle. 
              We identified this muscle as a key stabilizer in the spine, and targeting the area 
              will help protect and provide information about general posture health. The 
              project itself provides users with real-time data to raise awareness of their posture. 
            </p>
          </div>
        </div>
        <div class="faq-accordion-item">
          <button id="faq-accordion-button-2" aria-expanded="false">
            <span class="faq-accordion-title">Q2: Why focus on the multifidus muscle?</span>
            <span class="icon" aria-hidden="true"></span>
          </button>
          <div class="faq-accordion-content">
            <p>
              As a key muscle for supporting the spinal column, the health of multifidus 
              is closely related to the surrounding muscles. Therefore, dysfunction or atrophy 
              of this muscle is strongly linked to lower back pain and poor posture. By targeting this muscle, PosturePro 
              addresses the root cause of many posture-related problems.

            </p>
          </div>
        </div>
        <div class="faq-accordion-item">
          <button id="faq-accordion-button-3" aria-expanded="false">
            <span class="faq-accordion-title">Q3: Who can use this device?</span>
            <span class="icon" aria-hidden="true"></span>
          </button>
          <div class="faq-accordion-content">
            <p>
              PosturePro is designed for anyone experiencing back pain or poor posture. This includes 
              the elderly or inactive individuals—but can also be beneficial for athletes, 
              office workers, or anyone interested in improving their posture.

            </p>
          </div>
        </div>
        <div class="faq-accordion-item">
          <button id="faq-accordion-button-4" aria-expanded="false">
            <span class="faq-accordion-title">Q4: How is the sensor worn? Is it comfortable?</span>
            <span class="icon" aria-hidden="true"></span>
          </button>
          <div class="faq-accordion-content">
            <p>
              The sensor system is designed to be worn comfortably in a back brace that 
              holds the electrodes in place. Adhesive skin electrodes are placed on the skin over
              key points of the multifidus muscle. The over design is intended to 
              stay secure while performing small exercises. 

            </p>
          </div>
        </div>
        <div class="faq-accordion-item">
          <button id="faq-accordion-button-5" aria-expanded="false">
            <span class="faq-accordion-title">Q5: How do I view my results?</span>
            <span class="icon" aria-hidden="true"></span>
          </button>
          <div class="faq-accordion-content">
            <p>
              The sensor connects wirelessly to a website portal, where users can view live 
              data, see their past trends, and compare with example data. The portal is designed to 
              be intuitive and easy to use, even for non-technical users.

            </p>
          </div>
        </div>
      </div>
    </div>



{% endblock %}

{% block extra_js %}
<!-- Load Flowbite for modals -->
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
<!-- Load your FAQ script -->
<script src="{{ url_for('static', filename='/js/faq-procedure.js') }}"></script>
{% endblock %}