<!--
// Project Name: PosturePro
// File Name: team.html
// Date: 24 May 2025
// Group: Sensor-4 

// Description: This page serves as the team page for the PosturePro project, 
                showcasing the team members and their roles.
-->

{% extends "layout.html" %} 

{% block content %}
<section class="bg-gray-100">
  <!-- Team Section -->
  <div class="px-4 mx-auto max-w-screen-xl lg:px-6 ">
      <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
          <!-- Title and Description -->
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">Our Team</h2>
          <p class="font-light text-gray-500 lg:mb-16 sm:text-xl">Meet the team behind PosturePro!</p>
      </div> 
    <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2" style="--animate-delay: 0.4s;">
        <!-- Suvit Asnani -->
      <div class="items-center bg-gray-50 rounded-lg shadow sm:flex min-h-48 animate__animated animate__fadeInDown">
          <div class="flex-shrink-0 sm:h-full w-full sm:w-auto">
            <div class="w-full h-48 sm:w-32 sm:h-full overflow-hidden rounded-lg sm:rounded-none sm:rounded-l-lg bg-gray-200 flex items-center justify-center">
                <img class="object-cover w-full h-full" src="{{url_for('static', filename='/img/converted-suvit.jpg')}}" alt="Suvit Avatar">
            </div>
          </div>
          <div class="p-5 flex-1">
            <h3 class="text-xl font-bold tracking-tight text-gray-900">
                <div>Suvit Asnani</div>
            </h3>
            <span class="text-gray-500">Software Engineering</span>
            <p class="mt-3 mb-4 font-light text-gray-500 text-sm sm:text-base">Suvit works on many of the main website components for friendly UI as well as sensor connection. He furthermore works to filter data by normalizing the collected valeus.</p>
          </div>
        </div> 
        
        <!-- Remy Mander -->
        <div class="items-center bg-gray-50 rounded-lg shadow sm:flex min-h-48 animate__animated animate__fadeInDown animate__delay-1s">
          <div class="flex-shrink-0 sm:h-full w-full sm:w-auto">
            <div class="w-full h-48 sm:w-32 sm:h-full overflow-hidden rounded-lg sm:rounded-none sm:rounded-l-lg bg-gray-200 flex items-center justify-center">
                <img class="object-cover w-full h-full" src="{{url_for('static', filename='/img/remy.jpg')}}" alt="Remy Avatar">
            </div>
          </div>
          <div class="p-5 flex-1">
            <h3 class="text-xl font-bold tracking-tight text-gray-900">
                <div>Remy Mander</div>
            </h3>
            <span class="text-gray-500">Software Engineering</span>
            <p class="mt-3 mb-4 font-light text-gray-500 text-sm sm:text-base">Remy works on the SE side to handle sensor readings by storing relevant data to firebase, managing the accounts as necessary. He additionally handles many of the website components for a more user-friendly experience.</p>
          </div>
        </div> 
        
        <!-- Vincent Li -->
        <div class="items-center bg-gray-50 rounded-lg shadow sm:flex min-h-48 animate__animated animate__fadeInDown animate__delay-2s">
          <div class="flex-shrink-0 sm:h-full w-full sm:w-auto">
            <div class="w-full h-48 sm:w-32 sm:h-full overflow-hidden rounded-lg sm:rounded-none sm:rounded-l-lg bg-gray-200 flex items-center justify-center">
                <img class="object-cover w-full h-full" src="{{url_for('static', filename='/img/vincent.jpeg')}}" alt="Vincent Avatar">
            </div>
          </div>
          <div class="p-5 flex-1">
            <h3 class="text-xl font-bold tracking-tight text-gray-900">
                <div>Vincent Li</div>
            </h3>
            <span class="text-gray-500">Biomedical Engineering</span>
            <p class="mt-3 mb-4 font-light text-gray-500 text-sm sm:text-base">Vincent drives the BME components of the project including the main design, circuit schematic, and overall project rationale. By helping to form our initial idea, Vincent identified the multifidus muscle as a key area for posture health.</p>
          </div>
        </div> 

        <!-- Charlie Aronson -->
        <div class="items-center bg-gray-50 rounded-lg shadow sm:flex min-h-48 animate__animated animate__fadeInDown animate__delay-3s">
          <div class="flex-shrink-0 sm:h-full w-full sm:w-auto">
            <div class="w-full h-48 sm:w-32 sm:h-full overflow-hidden rounded-lg sm:rounded-none sm:rounded-l-lg bg-gray-200 flex items-center justify-center">
                <img class="object-cover w-full h-full" src="{{url_for('static', filename='/img/charlie.jpeg')}}" alt="Charlie Avatar">
            </div>
          </div>
          <div class="p-5 flex-1">
            <h3 class="text-xl font-bold tracking-tight text-gray-900">
                <div>Charlie Aronson</div>
            </h3>
            <span class="text-gray-500">Biomedical Engineering</span>
            <p class="mt-3 mb-4 font-light text-gray-500 text-sm sm:text-base">Charlie works to organize sensor components and documentation for the project. He also maintains proper discussion flow during work sessions, keeping our group on task to keep consistent progress.</p>
          </div>
        </div>  
    </div>  
  </div>
</section>
{% endblock %}